/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-03-2019, 05:54:07 PM
    Author     : marcela
*/

#panelFrm{
    color: palevioletred;
    font-style: inherit;
    
    
}
#contendorTbl{
   
    font-style: italic;
   
    
    
}
#frmCRUD{
     color: palevioletred;
    font-style: inherit;
  
     
     
   
   
    
}
#contenedorFMR{
   
   border-bottom: yellowgreen;
  
   
    
}

#fmrCRUD{
     color: palevioletred;
    font-style: inherit;
  
    
}

div.menu{
text-align: center;
}
.menu div.ui-menubar {
text-align: center;
}
.menu .ui-menu-list{
width:100%;
display: inline-flex;
}
div.menu>ul.ui-menu-list>li>a{
width: 100%;
}
div.menu>ul.ui-menu-list>li{
width: 100%;
}
.ui-menuitem-text{
float: none!important;
}