<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../resources/templates/plantilla.xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="top">
        top
    </ui:define>

    <ui:define name="content">

        <p:panel id="contendorTbl" header="Funciones Disponibles">
            <h:form id="fmrDataTable">

                <p:dataTable 
                    id="tblLazy"
                    lazy="true" 
                    paginator="true"
                    rows="5" 
                    value="#{funcionBean.listaDeSFunciones}"
                    var="funcion" 
                    selectionMode="single"
                    selection="#{funcionBean.registro}"
                    scrollable="true" scrollHeight="300"
                    rowKey="#{funcion.idFuncion}"
                    >

                    <p:column headerText="# de Funcio">
                        <h:outputLabel value="#{funcion.idFuncion}"/>
                    </p:column>
                    <p:column headerText="Pelicula">
                        <h:outputLabel value="#{funcion.idPelicula.titulo}"/>
                    </p:column>
                    <p:column headerText="Director">
                        <h:outputLabel value="#{funcion.idPelicula.idDirector.nombre}"/>
                    </p:column>
                    <p:column headerText="Fecha">
                        <h:outputLabel value="#{funcion.fecha}">
                            <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                        </h:outputLabel>
                    </p:column>
                    <p:ajax event="rowSelect" listener="#{funcionBean.onRowSelect}" onsuccess="PF('dialogSucursal').show()"/>
                </p:dataTable>

            </h:form>
        </p:panel>
        <h:form>


            <p:dialog modal="true" id="dialogoSucursal"  widgetVar="dialogSucursal" header="Realizar Reserva">
                <p:tabView activeIndex="#{funcionBean.pestanaActiva}" id="tabsReserva">
                    <p:tab title="Seleccionar Sucursal">
                        <p:panelGrid columns="2" style="margin: auto">
                            <p:selectOneMenu value="#{funcionBean.idSucursal}"  >
                                <f:selectItem noSelectionOption="true" itemLabel="Seleccione"/>
                                <f:selectItems value="#{funcionBean.listaDeSucursales}" var="sucursal" itemLabel="#{sucursal.nombre}" itemValue="#{sucursal.idSucursal}"/>
                            </p:selectOneMenu>
                            <p:commandButton value="Seleccionar" actionListener="#{funcionBean.btnSeleccionarSucursal}"  update="tabsReserva pnlSala"/>
                            
                        </p:panelGrid>
                    </p:tab>
                    <p:tab title="Seleccionar Sala" disabled="#{funcionBean.estado=='NONE'}" >
                        <p:panelGrid columns="2" id="pnlSala" style="margin: auto">
                            <p:selectOneMenu id="cmbSalas" value="#{funcionBean.idSala}"   rendered="#{funcionBean.estado=='SUCURSALSELECCIONADA' || funcionBean.estado=='SALASELECCIONADA'}">
                                <f:selectItem noSelectionOption="true" itemLabel="Seleccione"/>
                                <f:selectItems value="#{funcionBean.listaDeSalas}" var="sala" itemLabel="#{sala.sala}" itemValue="#{sala.idSala}"/>
                            </p:selectOneMenu>
                            <p:commandButton value="Seleccionar" actionListener="#{funcionBean.btnSeleccionarSala}" update="tabsReserva pnlAsiento pnlSala"  />
                          
                        </p:panelGrid>
                    </p:tab>
                    <p:tab title="Seleccionar Asiento" disabled="#{funcionBean.estado=='NONE' || funcionBean.estado=='SUCURSALSELECCIONADA'}">
                        <p:panel id="pnlAsiento">
                            <p:outputPanel id="output" style="margin: auto" >
                                <ui:repeat var="column" value="#{funcionBean.listaDeAsientos}" varStatus="status"> 
                                <div class="box-stretched" style="display:inline">  
                                    <p:selectManyButton value="#{funcionBean.listaAsientoSeleccionado}" >
                                        <f:selectItem itemLabel="#{column.fila} #{column.columna}" itemValue="#{column.idAsiento}"/>                       
                                    </p:selectManyButton>
                                    <br style="display:#{funcionBean.listaDeAsientos[status.index].fila==funcionBean.listaDeAsientos[status.index+1].fila?'none':'inline'}"></br>
                                </div>                        
                            </ui:repeat>                
                        </p:outputPanel>
                            <p:commandButton style="margin: auto" value="Confimar Rerserva"/>
                        </p:panel>
                        
                    </p:tab>
                </p:tabView>
                <p:panel  >
                    <p:commandButton value="Cancelar" style="align-content: center" actionListener="#{funcionBean.btnCancelar(ae)}" update="tabsReserva" onclick="PF('dialogSucursal').close()"/>
                </p:panel>
                 
            </p:dialog>

        </h:form>
    </ui:define>

</ui:composition>
